<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <h1>Inicio de sesión</h1>
        {% if is_granted("ROLE_USER") %}
            <a href="{{ path('app_logout') }}">Cerrar sesion</a>
            Hola {{ app.user.username }} -
        {% else %}
            <a href="{{ path('app_login') }}">Iniciar sesion</a>
            <a href="{{ path('app_register') }}">Registrarse</a>
        {% endif %}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_MASTER") %}
            <a href="{{ path('app_pokedex_index') }}">Ver Pokedex</a>
        {% endif %}
            {% block body %}{% endblock %}
            
    </body>
</html>